{{ $pages := where .Site.RegularPages "Section" "posts" }}
{{ $sortedPages := sort $pages "Lastmod" "desc" }}
{{ $latestPosts := first 5 $sortedPages }}
<div class="updates-container">
  <div class="updates-header">
    <h2><i class="fa-regular fa-clock"></i> 最新更新</h2>
    <a href="/posts/" class="view-all">查看全部 →</a>
  </div>
  <ul class="updates-list">
    {{ range $latestPosts }}
    <li>
      <time class="update-date" datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "01-02" }}</time>
      <a href="{{ .RelPermalink }}" class="update-title">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
